@model RMS.Client.Models.View.LoginModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";

}
@section PageStyle
{
    <link rel="stylesheet" href="~/Content/Styles/pages/page_log_reg_v2.css">
}


<!--=== Content Part ===-->
@using (Html.BeginForm())
{
    

    <div class="container">
        <!--Reg Block-->
        <div class="reg-block">
            <div class="reg-block-header">
                <h2>Sign In</h2>
                <ul class="social-icons text-center">
                    <li><a class="rounded-x social_facebook" data-original-title="Facebook" href="#"></a></li>
                    <li><a class="rounded-x social_twitter" data-original-title="Twitter" href="#"></a></li>
                    <li><a class="rounded-x social_googleplus" data-original-title="Google Plus" href="#"></a></li>
                    <li><a class="rounded-x social_linkedin" data-original-title="Linkedin" href="#"></a></li>
                </ul>
                <p>Don't Have Account? Click <a class="color-green" href="@Url.Action("Register")">Sign Up</a> to registration.</p>
            </div>

            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @placeholder = "Username" })
                @Html.ValidationMessageFor(model => model.Username)
            </div>
            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @placeholder = "Password" })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <hr>

            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    <p>Always stay signed in</p>
                </label>
            </div>

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <button type="submit" class="btn-u btn-block">Log In</button>
                </div>
            </div>
        </div>
        <!--End Reg Block-->
    </div>
    <!--/container-->
    <!--=== End Content Part ===-->

}