@using PagedList.Mvc
@model RMS.Client.Models.View.RestaurantLst

@{
    ViewBag.Title = "RestaurantList";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
@section PageStyle
{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
}

<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Restaurants</h1>
    </div>
    <!--/container-->
</div>

<div class="container content-md">
    @Html.Partial("PartialViews/LeftSidebarPartial")
    <div class="col-md-6">
        <!-- Restaurants-->
        <div class="row margin-bottom-20">
            @Html.DisplayFor(m => m.RestaurantModels)
        </div>
        <!-- End Restaurants-->

        <div class="clearfix margin-bottom-20">
            <hr>
        </div>
        <!-- Pagination -->
        @if (!string.IsNullOrEmpty(Request.Params["country"]))
        {
            @Html.PagedListPager(Model.RestaurantModels, page => Url.Action("RestaurantListCountry", new { page, country = Request.Params["country"] }))            
        }
        else if (!string.IsNullOrEmpty(Request.Params["cuisine"]))
        {
            @Html.PagedListPager(Model.RestaurantModels, page => Url.Action("RestaurantListCuisine", new { page, country = Request.Params["cuisine"] }))
        }
        else
        {
            @Html.PagedListPager(Model.RestaurantModels, page => Url.Action("RestaurantList", new { page })) 
        }
        <!-- End Pagination -->
    </div>
</div>
