@using System.Web.Optimization
@model RMS.Client.Models.View.RestaurantModel

@{
    ViewBag.Title = "RestaurantDetail";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<style>
    #btnFavorite {
        position: absolute;
        top: -5%;
        margin: 5%;
        right: 2%;
    }

    .fixed {
        position: fixed;
    }
</style>

<div class="container-fluid margin-bottom-20">

    <div class="col-md-12">
        <div id="About">
            <h1>@Html.DisplayFor(model => model.Name), <small>Alabama</small></h1>
            <div class="list-group-item-text " style="padding: 10px;">
                <ul class="list-unstyled list-inline ">
                    <li>
                        @for (int i = 0; i < Model.Rating; i++)
                        {
                            <span>
                                <i class="fa fa-star color-green"></i>
                            </span>
                        }
                    </li>
                    <li>
                        <i class="fa fa-comment-o"></i>
                        @Model.CommentCount reviews
                    </li>
                </ul>
            </div>
            <div class="row ">
                <div class="col-md-6 margin-bottom-20">


                    <img class="img-responsive" src='@Url.Content(Model.PhotoUrl ?? "//placehold.it/600")' alt="">

                    <button id="btnFavorite" class="pull-right btn btn-group">
                        <i class="fa fa-plus"></i>
                    </button>

                </div>
                <div class="col-md-6 ">
                    <div class="fadeInRight animated">
                        <header class="center-icon text-center">
                            <h1><span>About</span> Us</h1>
                            @*icon*@
                            <div class="text-center ">
                                <ul class="list-unstyled list-inline">
                                    <li>
                                        <address>
                                            <i class="fa fa-location-arrow"></i>
                                            507 Calles Street
                                            Austin, TX, 78702
                                        </address>
                                    </li>
                                    <li><i class="fa fa-phone"></i>@Model.PhoneNumber</li>
                                </ul>
                            </div>
                        </header>
                        <div class="contents">
                            <h3>Welcome To @Model.Name.</h3>
                            <p>@Model.Description</p>
                        </div>
                        <!-- /contents -->
                    </div>
                    <!-- /contents-container -->
                </div>
                <!-- /col-md-6 -->
            </div>
        </div>

        @if (HttpContext.Current.User.IsInRole("User"))
        {
            <div class="col-md-12" id="Reviews">
                <hr>
                <div id="comment"></div>
                <hr>
            </div>

            <div class="col-md-12">
                <!-- Comment Form -->
                <div class="comment-form"></div>
                <!-- End Comment Form -->
            </div>
        }

        <section class="section-block">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="title">Reservations</h2>
                    </div>
                    <div class="col-md-6 col-md-offset-3 ">
                        <div>
                            Booking a table has never been so easy with free &amp; instant online restaurant reservations, booking now!!
                        </div>
                    </div>
                    <div class="col-md-12 contents-container text-center" id="Reservation">

                        <h4><span>Open Hours</span></h4>
                        <div class="voffset50"></div>
                        <p><strong>Sunday to Tuesday</strong> 09.00 - 24:00 <strong>Friday and Sunday</strong> 08:00 - 03.00</p>
                        <h3 class=""><i class="fa fa-phone"></i>@Html.DisplayFor(m => m.PhoneNumber)</h3>
                        @if (HttpContext.Current.User.IsInRole("User"))
                        {
                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#book-now">Make reservation</button>
                        }
                    </div>

                    <div class="col-md-12 jt_col column_container">
                        <div class="voffset60"></div>
                        <div class="ornament"></div>
                    </div>
                </div>

            </div>
        </section>

    </div>
</div>



<div id="book-now" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Make reservation</h4>
            </div>
            <div class="modal-body">
                <div class="">
                    <div id="book-table-context"></div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        require(["jquery",
                "Custom/EventTrigger",
                "Widgets/commentLstCtrl/commentLstCtrl",
                "Widgets/commentCtrl/commentCtrl",
                "Widgets/bookingCtrl/bookingCtrl"
        ],
            function ($) {
                $(document).ready(function () {
                    var eventTrigger = new EventTrigger();
                    $("#comment").commentList({ RestaurantId: "@Model.Id", eventTrigger: eventTrigger });
                    $('.comment-form').comment({ restaurantId: "@Model.Id", eventTrigger: eventTrigger });
                    $('#book-table-context').booking({ restaurantId: "@Model.Id" });

                    $('#btnFavorite').on('click', function () {
                        $.ajax({
                            type: 'POST',
                            url: '/Restaurant/AddFavorite/' + '@Model.Id',
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function () {
                                console.log('AddFavorite: success');
                            },
                            error: function (err) {
                                console.log(err.status + " : " + err.statusText);
                            }
                        });
                    });
                });
            });
    </script>
}