@{
    ViewBag.Title = "_BaseLayout";
    ViewBag.Username = User.Identity.Name;
}


<!DOCTYPE html>
<html>
<head>
    <title>Restaurant management system</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/favicon.ico">

    <!-- Web Fonts -->
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="~/Content/Styles/plugins/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Styles/style.css">

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="~/Content/Styles/headers/header-default.css">
    <link rel="stylesheet" href="~/Content/Styles/footers/footer-v1.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="~/Content/Styles/plugins/animate.css">
    <link rel="stylesheet" href="~/Content/Styles/plugins/line-icons.css">
    <link rel="stylesheet" href="~/Content/Styles/plugins/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/Styles/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/Styles/plugins/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="~/Content/Styles/plugins/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->

    <!-- CSS Page Style -->
    <link rel="stylesheet" href="~/Content/Styles/pages/page_search.css">
    @RenderSection("PageStyle", required: false)

    <!-- CSS Theme -->
    <link rel="stylesheet" href="~/Content/Styles/theme-colors/default.css" id="style_color">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="~/Content/Styles/custom.css">

    <!-- CSS plugin -->
    <link rel="stylesheet" href="~/Content/toastr.css" />
</head>

<body>


    <div class="wrapper">
        <!--=== Header ===-->
        <div class="header">
            <div class="container-fluid">
                <!-- Logo -->

                <!-- End Logo -->

                <!-- Topbar -->
                <div class="topbar">
                    <ul class="loginbar pull-right">
                        <li class="hoverSelector">
                            <i class="fa fa-globe"></i>
                            <a>Languages</a>
                            <ul class="languages hoverSelectorBlock">
                                <li class="active">
                                    <a href="#">English <i class="fa fa-check"></i></a>
                                </li>
                                <li><a href="#">Spanish</a></li>
                                <li><a href="#">Russian</a></li>
                                <li><a href="#">German</a></li>
                            </ul>
                        </li>
                        <li class="topbar-devider"></li>
                        @if (ViewBag.Username == string.Empty)
                        {
                            <li><a href="@Url.Action("Register", "Account")">Register</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("ProfilePage", "Profile")">@ViewBag.Username</a></li>                        
                        }
                        <li class="topbar-devider"></li>
                        <li><a href="@Url.Action("Login", "Account")">Login</a></li>
                    </ul>
                </div>
                <!-- End Topbar -->

                <!-- Toggle get grouped for better mobile display -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                </button>
                <!-- End Toggle -->
            </div>
            <!--/end container-->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
                <div class="container">
                    <ul class="nav navbar-nav">
                        <!-- Home -->
                        <li>
                            <a href="@Url.Action("Index", "Home")" >Home</a>
                        </li>
                        <!-- End Home -->

                        <!-- Pages -->
                        <li>
                            <a href="@Url.Action("RestaurantList", "Restaurant")">Restaurants</a>
                        </li>
                        <li>
                            <a href="#">Countries</a>
                        </li>
                        <!-- End Pages -->

                        <!-- Search Block -->
                        <li>
                            <i class="search fa fa-search search-btn"></i>
                            <div class="search-open">
                                <div class="input-group animated fadeInDown">
                                    <input type="text" class="form-control" placeholder="Search" id="search-field-sm">
                                    <span class="input-group-btn">
                                        <button class="btn-u" type="button" id="btnFindSm">Go</button>
                                    </span>
                                </div>
                            </div>
                        </li>
                        <!-- End Search Block -->
                    </ul>
                </div>
                <!--/end container-->
            </div>
            <!--/navbar-collapse-->
        </div>
        <!--=== End Header ===-->
        <div class="search-result">
        @RenderBody()
            </div>
        <!--=== Footer Version 1 ===-->
        <div class="footer-v1">
            <div class="footer">
            </div>
            <!--/footer-->

            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                2015 &copy; All Rights Reserved.
                           <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                            </p>
                        </div>

                        <!-- Social Links -->
                        <div class="col-md-6">
                            <ul class="footer-socials list-inline">
                                <li>
                                    <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
                                        <i class="fa fa-skype"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
                                        <i class="fa fa-pinterest"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dribbble">
                                        <i class="fa fa-dribbble"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- End Social Links -->
                    </div>
                </div>
            </div>
            <!--/copyright-->
        </div>
        <!--=== End Footer Version 1 ===-->
    </div>
    <!--/End Wrapepr-->

    <!-- JS Global Compulsory -->
    <script src="~/Scripts/jquery-2.0.2.min.js"></script>
    <script src="~/Scripts/ThemeScripts/bootstrap/bootstrap.min.js"></script>
    <script src="~/Scripts/require.js"></script>
    <script src="~/Scripts/Widgets/main.js"></script>
    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="~/Scripts/ThemeScripts/back-to-top.js"></script>
    <script type="text/javascript" src="~/Scripts/ThemeScripts/smoothScroll.js"></script>
    <script type="text/javascript" src="~/Scripts/ThemeScripts/counter/waypoints.min.js"></script>
    <script type="text/javascript" src="~/Scripts/ThemeScripts/counter/jquery.counterup.min.js"></script>

    <!-- JS Customization -->
    <script type="text/javascript" src="~/Scripts/ThemeScripts/custom.js"></script>
    <!-- JS Page Level -->
    <script type="text/javascript" src="~/Scripts/ThemeScripts/app.js"></script>
    <!-- JS SPA -->

    @RenderSection("Scripts", required: false)

    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
        });
    </script>
@*      <script>
          require(['jquery', 'Widgets/searchCtrl/searchCtrl'], function ($) {
              $(document).ready(function () {
                  $('#btnFindSm').on('click', function () {

                      $('.search-result').search({
                          name: $('#search-field-sm').val(),
                      });
                  });
              });
          })
    </script>*@

</body>
</html>
