@using RMS.Resources
@model RMS.Client.Models.View.HomeViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<!--=== Search Block ===-->
<div class="search-block ">
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <h1>
                Restaurant <span class="color-green">management</span> system
            </h1>
            <div class="input-group">
                <input id="search-field" type="text" class="form-control" placeholder="Search words with regular expressions ...">
                <span class="input-group-btn">
                    <button id="btnFind" class="btn-u btn-u-lg" type="button"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
    </div>
</div><!--/container-->
<!--=== End Search Block ===-->
<!--=== Content ===-->
<div class="container">
    <div class="row text-center">
        <div class="col-lg-4 col-md-4 col-sm-4">

            <h3 class="headline">Reserve your Table</h3>

            <span class="col-xs-12">Select from the list of our partner restaurants with their offers, and reserve your table!</span>

        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">

            <h3 class="headline">Discover New Places to Dine </h3>

            <span class="col-xs-12">
                Interesting places to eat, with great service and amazing food, is what you find here.
            </span>

        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">

            <h3 class="headline">Save and Earn</h3>

            <span class="col-xs-12 col_centered font12">
                Get cash backs, rewards, discounts and vouchers!
            </span>

        </div>
    </div>
    <div class="row margin-top-20">
        <div class="headline margin-bottom-35 text-center">
            <h2>@Resources.Most_Popular</h2>
        </div>
        @foreach (var restaurant in Model.Restaurants)
        {
            <div class="col-xs-12 col-lg-4">
                <div class="easy-block-v2" style="height: 120px">
                    <div class="easy-bg-v2 rgba-blue">Top</div>
                    <img class="img-responsive" src="@Url.Content(@restaurant.PhotoUrl)" />
                </div>
                <div class="form-group col-xs-12">
                    <h3 class="col-xs-offset-2 col-xs-7 text-center"><a href="@Url.Action("RestaurantDetail", "Restaurant", new {Id = restaurant.Id})">@restaurant.Name</a></h3>
                </div>
            </div>
        }
    </div>
    
</div>
<!--=== End Content ===-->
@section Scripts
{
    <script>
        require(['jquery', 'Widgets/searchCtrl/searchCtrl'], function ($) {
            $(document).ready(function () {
                $('#btnFind').on('click', function () {

                    $('.search-result').search({
                        name: $('#search-field').val(),
                    });
                });
            });
        })
    </script>
}
